.git
.gitignore

.env
.env.*
!.env.example

node_modules
**/node_modules

.venv
**/.venv
venv
**/venv

__pycache__
**/__pycache__
*.pyc

.pytest_cache
**/.pytest_cache

.mypy_cache
**/.mypy_cache

.ruff_cache
**/.ruff_cache

frontend/dist
backend/dist

*.log
.DS_Store